<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item *ngFor="let item of items">
    Left Icon Button
    <button *ngIf="item.qty !=0" ion-button color="secondary" outline item-end icon-left>
      <ion-icon name="remove"></ion-icon>
    </button>
    <button *ngIf="item.qty !=0 && item.qty >=10"  ion-button color="secondary" outline item-end icon-left>{{item.qty}}</button>
    <button *ngIf="item.qty !=0 && item.qty <10" class="blwtenpad" ion-button color="secondary" outline item-end icon-left>{{item.qty}}</button>
    <button *ngIf="item.qty == 0" class="addbtnpad" ion-button color="secondary" outline item-end icon-left>ADD</button>
    <button *ngIf="item.qty >=0" ion-button color="secondary" outline item-end icon-left>
      <ion-icon name="add"></ion-icon>
    </button>   
  </ion-item>
</ion-list>
</ion-content>
